* {
  box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #143a52;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  background-color: #ABC6C6;
  text-align: center;
  padding: 0;
  margin: 0 -20px;
  border-bottom: 3px solid #4a4a4a;
  width: 100vw;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: transform 0.7s ease;
  transform: translateX(-100vw);
}

nav.opened {
  transform: translateX(0);
}

nav>ul {
  display: grid;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #ECB759;
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: #4e4e4e;
  text-decoration: underline;
}

.selector {
  margin: 0 auto;
}

.logo {
  max-width: 250px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.75em;
  font-weight: 800;
  margin-left: 0px;
}

h2 {
  font-size: 2.00em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.social-icon {
  display: inline-block;
  width: 24px;
  margin-top: 20px;
}

.process img {
  padding: 24px 8px;
}

a {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s;
}

a:visited {
  color: #595963;
}

a:hover,
a:focus {
  color: #595963;
  text-decoration: underline;
}

a:active {
  color: #ECB759;
}

.button {
  display: block;
  margin: 0 auto;
  background-color: #ECB759;
  color: #ffffff;
  font-weight: 500;
  padding: 10px 60px;
  border: none;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity, box-shadow;
  box-shadow: none;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: underline;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:active {
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}


.button:active {
  color: #ECB759;
}

.button.contact {
  background-color: #ECB759;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ECB759;
  transition: 0.2s background-color, font-weight;
  padding: 10px 20px;
  text-align: center;
}

.button.contact:visited,
.button.resume:visited {
  color: #ECB759;
}

.button.contact:hover,
.button.contact:focus,
.button.resume:hover,
.button.resume:focus {
  background-color: #ECB759;
  font-weight: 600;
}

.button.contact:active,
.button.resume:active {
  color: #fdf7ed;
}

.nav-toggle-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav-toggle-button svg {
  width: 36px;
  height: 36px;
}



.row {
  margin: 25px 0;
}

.social-media {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-media-icon {
  height: 40px;
  width: 40px;
}

.my-cv {
  text-align: center;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#hero {
  margin-right: auto;
  margin-left: auto;
}

#hero h1 {
  text-align: center;
}

.about,
footer {
  margin-left: auto;
  margin-right: auto;
}

#my-work-heading {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.work-section,
.row {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

.project img {
  object-fit: cover;
  flex: 1
}

.project h2 {
  margin-top: 0;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    transition: unset;
    position: unset;
    width: auto;
    height: auto;
    background-color: unset;
    transform: unset
  }

  .nav-toggle-button {
    display: none;
  }

  .logo {
    max-width: 200px;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }

  .navigation li {
    margin: 0 10px;
  }

  nav .nav-toggle-button {
    display: none;
  }

  .button {
    width: max-content;
  }

  .work-section,
  .row {
    grid-template-columns: 50% 50%;
  }

  .project {
    padding: 20px;
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo {
    max-width: 150px;
  }

  .navigation {
    justify-content: flex-end;
    margin-top: 10px;
  }

  .navigation li {
    margin: 0 10px;
  }

  #hero {
    max-width: 1000px;
  }

  .about,
  footer {
    max-width: 1000px;
  }

  .button {
    width: auto;
  }

  .work-section,
  .row {
    grid-template-columns: 60% 40%;
    gap: 20px;
    max-width: 1000px;
  }

  .work-section .project {
    display: flex;
    flex-direction: column;
  }

  .about-section .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .project {
    padding: 0;
  }

  #my-work-heading {
    max-width: 1000px;
  }

  .my-cv {
    width: max-content;
  }
}