body {
  background-color: #FBFBFB;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #143a52;
}
header {
  background-color: #ABC6C6
  ;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
}
selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.75em;
  font-weight: 800;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

.logo {
  max-width: 150px;
}

.social-icon {
  display: inline-block;
  width: 24px;
  margin-top: 20px;
}

.process img {
  padding: 24px 8px;
}

a {
  color: #000000;
  text-decoration: none; /* No underlining */
}

a:visited { /* Visited link */
  color: #595963
  ;
}

a:hover,
a:focus {
  color: #595963
  ;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* Selected link */
  color: #ECB759;
}

.button {
  display: inline-block; /* Since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #ECB759;
  color: #000000; /* Override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f2a829; /* Width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited { /* Visited link */
  color: #fdf7ed;
}

.button:hover,
.button:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active { /* Selected link */
  color: #595963;
}

.button.contact,
.button.resume {
  background-color: transparent;
  color: #ECB759;
  text-transform: uppercase;
  border: 2px solid #ECB759;
  transition: .2s background-color, font-weight;
}

.button.contact:visited,
.button.resume:visited { /* Visited link */
  color: #ECB759;
}

.button.contact:hover,
.button.contact:focus,
.button.resume:hover,
.button.resume:focus {
  background-color: #595963;
  font-weight: 600;
}

.button.contact:active,
.button.resume:active { /* Selected link */
  color: #fdf7ed;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}